@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Libre Baskerville");

.spinner {
    width: 50px;
    height: 50px;
    display: grid;
    animation: s4 4s infinite;
  }
  .spinner::before,
  .spinner::after {    
    content:"";
    grid-area: 1/1;
    border:8px solid;
    border-radius: 50%;
    border-color:#d90303 #ff0000 #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
  }
  .spinner::after {
    border-color:#00000000 #0000 #E4E4ED #E4E4ED;
    animation-direction: reverse;
  }
  
@keyframes s4{ 
    100%{transform: rotate(1turn)}
}

.heading {
  text-shadow: 0 0 2px #f9f9f9, 0 0 3px #f6ff00;
  font-family: 'Libre Baskerville'
}

.genresShadow {
  text-shadow: 0 0 1px #f9f9f9;
  font-family: 'Libre Baskerville';
  color: red;
}